
/* youtube */
div#comments-view {
	display: none;
	visibility: hidden;
}


/* daily mail */
div#reader-comments, .article-reader-comments {
	display: none;
	visibility: hidden;
}


/* MEN */
div#pluck-wrap, .pluck-comm-wrapper {
	display: none;
	visibility: hidden;
}
