/* youtube */
div#comments-view {
	display: none;
}


/* daily mail */
div#reader-comments, .article-reader-comments {
	display: none;
}


/* MEN */
div#pluck-wrap, .pluck-comm-wrapper {
	display: none;
}

/* guardian */

#d2-root, div.d2-comments, .d2-comment, ul.d2-comments {
	display: none;
}

/* WP, Gawker, basically everything else on the internet */
div#comments  {
	display:none;
}

/* DISQUS */

div#disqus_thread {
	display:none;
}